In [1]:
from bs4 import BeautifulSoup as bs
import requests
import os

In [2]:
url = "https://www.usatoday.com/story/news/nation-now/2017/08/30/these-most-popular-cars-and-trucks-every-state/478537001/"

In [3]:
response = requests.get(url)

In [4]:
soup = bs(response.text,'html.parser')

In [5]:
results = soup.find_all('p', class_="p-text")

In [6]:
results[6].text

'Alaska:\xa0F150'

In [7]:
states_cars = [] 
for result in results:
    try:
        state_car = result.text.strip()
        states_cars.append(state_car)
        print(state_car)
    except AttributeError as e:
        print(e)

Ford's F150 is America's best selling vehicle, but the pick-up truck doesn't reign supreme in all 50 states.
According to Kelley Blue Book data, more than 10 states choose SUVs over pickups. Compact cars (Honda's Civic, Toyota's Corolla and Yaris) are the top picks in California, Ohio, Florida, Washington, D.C. and Puerto Rico.
Still, Kelley Blue Book's list of the most popular vehicles sold in each state based on new car registrations in 2016 shows Americans love their trucks.
This year, the F-Series remains most popular, but Tim Fleming, analyst for Kelley Blue Book said 2017 consumers could shift last year's data.
"Sedans are rapidly falling out of favor," Fleming said in an email. "The Camry, Civic and Corolla have dropped from the fourth, fifth and sixth places to seventh, eighth and ninth this year. We don’t see this trend stopping any time soon, although the new Camry could boost sales in the short-term."
Here's a look at the 2016 data:
Alaska: F150
Alabama: F150
Arizona: F150
Arkansas: Sierra 1500
California: Civic
Colorado: Outback
Connecticut: Rogue
Washington, D.C.: Civic
Delaware: Silverado 1500
Florida: Corolla
Georgia: F150
Hawaii: Tacoma
Iowa: Silverado 1500
Idaho: F150
Illinois: CR-V
Indiana: Silverado 1500
Kansas: F150
Kentucky: F150
Louisiana: F150
Massachusetts: RAV4
Maryland: CR-V
Maine: Silverado 1500
Michigan: Escape
Minnesota: F150
Missouri: F150
Mississippi: F150
Montana: F150
North Carolina: Accord
North Dakota: F150
Nebraska: F150
New Hampshire: Silverado 1500
New Jersey: CR-V
New Mexico: F150
Nevada: RAV4
New York: Rogue
Ohio: Civic
Oklahoma: F150
Oregon: Outback
Pennsylvania: CR-V
Puerto Rico: Yaris
Rhode Island: RAV4
South Carolina: F150
South Dakota: F150
Tennessee: F150
Texas: F150
Utah: F150
Virginia: CR-V
Vermont: RAV4
Washington: Outback
Wisconsin: Silverado 1500
West Virginia: Silverado 1500
Wyoming: F150
Follow Ashley May on Twitter: @AshleyMayTweets

In [8]:
states_cars = states_cars[6:58]

In [9]:
import pandas as pd
df = pd.DataFrame({
    "States_and_Cars":states_cars
})

In [10]:
df.head()

         States_and_Cars
0           Alaska: F150
1          Alabama: F150
2          Arizona: F150
3  Arkansas: Sierra 1500
4      California: Civic

In [11]:
df=df['States_and_Cars'].str.split(":", n=2, expand = True)

In [12]:
df.rename(columns = {0:'State',1:'Car'},inplace=True)

In [13]:
clean_cars = []
for item in list(df.Car):
    new_item = item.replace(u'\xa0', u' ')
    clean_cars.append(new_item.lstrip())
    
list(set(clean_cars))

['F150',
 'Accord',
 'Outback',
 'Corolla',
 'Escape',
 'Sierra 1500',
 'RAV4',
 'Civic',
 'Rogue',
 'Yaris',
 'CR-V',
 'Silverado 1500',
 'Tacoma']