In [1]:
from bs4 import BeautifulSoup as bs
import requests
import os

In [2]:
url = "https://www.usatoday.com/story/news/nation-now/2017/08/30/these-most-popular-cars-and-trucks-every-state/478537001/"

In [3]:
response = requests.get(url)

In [4]:
soup = bs(response.text,'html.parser')

In [5]:
results = soup.find_all('p', class_="p-text")

In [22]:
results[6].text

'Alaska:\xa0F150'

In [27]:
states_cars = [] 
for result in results:
    try:
        state_car = result.text
        states_cars.append(state_car)
        print(state_car)
    except AttributeError as e:
        print(e)

Ford's F150 is America's best selling vehicle, but the pick-up truck doesn't reign supreme in all 50 states.
According to Kelley Blue Book data, more than 10 states choose SUVs over pickups. Compact cars (Honda's Civic, Toyota's Corolla and Yaris) are the top picks in California, Ohio, Florida, Washington, D.C. and Puerto Rico.
Still, Kelley Blue Book's list of the most popular vehicles sold in each state based on new car registrations in 2016 shows Americans love their trucks.
This year, the F-Series remains most popular, but Tim Fleming, analyst for Kelley Blue Book said 2017 consumers could shift last year's data.
"Sedans are rapidly falling out of favor," Fleming said in an email. "The Camry, Civic and Corolla have dropped from the fourth, fifth and sixth places to seventh, eighth and ninth this year. We don’t see this trend stopping any time soon, although the new Camry could boost sales in the short-term."
Here's a look at the 2016 data:
Alaska: F150
Alabama: F150
Arizona: F150
Arkansas: Sierra 1500
California: Civic
Colorado: Outback
Connecticut: Rogue
Washington, D.C.: Civic
Delaware: Silverado 1500
Florida: Corolla
Georgia: F150
Hawaii: Tacoma
Iowa: Silverado 1500
Idaho: F150
Illinois: CR-V
Indiana: Silverado 1500
Kansas: F150
Kentucky: F150
Louisiana: F150
Massachusetts: RAV4
Maryland: CR-V
Maine: Silverado 1500
Michigan: Escape
Minnesota: F150
Missouri: F150
Mississippi: F150
Montana: F150
North Carolina: Accord
North Dakota: F150
Nebraska: F150
New Hampshire: Silverado 1500
New Jersey: CR-V
New Mexico: F150
Nevada: RAV4
New York: Rogue
Ohio: Civic
Oklahoma: F150
Oregon: Outback
Pennsylvania: CR-V
Puerto Rico: Yaris
Rhode Island: RAV4
South Carolina: F150
South Dakota: F150
Tennessee: F150
Texas: F150
Utah: F150
Virginia: CR-V
Vermont: RAV4
Washington: Outback
Wisconsin: Silverado 1500
West Virginia: Silverado 1500
Wyoming: F150
Follow Ashley May on Twitter: @AshleyMayTweets

In [36]:
states_cars = states_cars[6:58]

In [46]:
import pandas as pd
df = pd.DataFrame({
    "States_and_Cars":states_cars
})

In [47]:
df

                  States_and_Cars
0                    Alaska: F150
1                   Alabama: F150
2                   Arizona: F150
3           Arkansas: Sierra 1500
4               California: Civic
5               Colorado: Outback
6              Connecticut: Rogue
7         Washington, D.C.: Civic
8        Delaware: Silverado 1500
9                Florida: Corolla
10                  Georgia: F150
11                 Hawaii: Tacoma
12           Iowa: Silverado 1500
13                    Idaho: F150
14                 Illinois: CR-V
15        Indiana: Silverado 1500
16                   Kansas: F150
17                 Kentucky: F150
18                Louisiana: F150
19            Massachusetts: RAV4
20                 Maryland: CR-V
21          Maine: Silverado 1500
22               Michigan: Escape
23                Minnesota: F150
24                 Missouri: F150
25              Mississippi: F150
26                  Montana: F150
27         North Carolina: Accord
28             North Dakota: F150
29                 Nebraska: F150
30  New Hampshire: Silverado 1500
31               New Jersey: CR-V
32               New Mexico: F150
33                   Nevada: RAV4
34               New York: Rogue
35                    Ohio: Civic
36                 Oklahoma: F150
37                Oregon: Outback
38             Pennsylvania: CR-V
39             Puerto Rico: Yaris
40             Rhode Island: RAV4
41           South Carolina: F150
42             South Dakota: F150
43                Tennessee: F150
44                    Texas: F150
45                     Utah: F150
46                 Virginia: CR-V
47                  Vermont: RAV4
48            Washington: Outback
49      Wisconsin: Silverado 1500
50  West Virginia: Silverado 1500
51                  Wyoming: F150

In [53]:
df=df['States_and_Cars'].str.split(":", n=2, expand = True)

In [57]:
df.rename(columns = {0:'State',1:'Car'},inplace=True)

In [58]:
df

               State              Car
0             Alaska             F150
1            Alabama             F150
2            Arizona             F150
3           Arkansas      Sierra 1500
4         California            Civic
5           Colorado          Outback
6        Connecticut            Rogue
7   Washington, D.C.            Civic
8           Delaware   Silverado 1500
9            Florida          Corolla
10           Georgia             F150
11            Hawaii           Tacoma
12              Iowa   Silverado 1500
13             Idaho             F150
14          Illinois             CR-V
15           Indiana   Silverado 1500
16            Kansas             F150
17          Kentucky             F150
18         Louisiana             F150
19     Massachusetts             RAV4
20          Maryland             CR-V
21             Maine   Silverado 1500
22          Michigan           Escape
23         Minnesota             F150
24          Missouri             F150
25       Mississippi             F150
26           Montana             F150
27    North Carolina           Accord
28      North Dakota             F150
29          Nebraska             F150
30     New Hampshire   Silverado 1500
31        New Jersey             CR-V
32        New Mexico             F150
33            Nevada             RAV4
34          New York           Rogue
35              Ohio            Civic
36          Oklahoma             F150
37            Oregon          Outback
38      Pennsylvania             CR-V
39       Puerto Rico            Yaris
40      Rhode Island             RAV4
41    South Carolina             F150
42      South Dakota             F150
43         Tennessee             F150
44             Texas             F150
45              Utah             F150
46          Virginia             CR-V
47           Vermont             RAV4
48        Washington          Outback
49         Wisconsin   Silverado 1500
50     West Virginia   Silverado 1500
51           Wyoming             F150